h1 {

}

h2 {
	text-align: center;
	padding: 5px;
	margin-left: 20px;
	color: #212121;
	margin-bottom: 0px;
}

h3 {
	text-align: center;
	padding: 5px;
	margin-left: 20px;
	color: #212121;
	margin-bottom: 0px;
}

p {
	text-align: center;
	padding:10px;
	margin-left: 25px;
	margin-top: 0px;
	color: #262626;
}

div {
	margin: auto;
	width: 1000px;
	background-color: #d9d9d9;
	border-left: 5px solid #795548;
}

header {
	background-color: #F0F4C3;
}

header h1 {
	color: #212121;
	margin: auto;
	padding: 5px;
	text-align: center;
}

body {
	background-color: #BDBDBD;
}

nav {
	background-color: #CDDC39;
	height: 40px;
	padding: 5px;
}

nav a {
	text-decoration: none;
	color: #212121;
	float:left;
	padding: 10px;
}

nav a:hover {
	background-color: #795548;
}

footer {

}

footer a {

}

footer a:hover {

}

td {
	word-wrap: break-word;
}


/*color palette taken from https://www.materialpalette.com/blue/blue-grey*/